<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @modification.user_id %>
</p>

<p>
  <strong>Server:</strong>
  <%= @modification.server_id %>
</p>

<p>
  <strong>Edit server:</strong>
  <%= @modification.edit_server %>
</p>

<p>
  <strong>Delete server:</strong>
  <%= @modification.delete_server %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @modification.comments %>
</p>

<%= link_to 'Edit', edit_modification_path(@modification) %> |
<%= link_to 'Back', modifications_path %>
