<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
      <th>Asset</th>
      <th>Hostname</th>
      <th>Location</th>
      <th>Environment</th>
      <th>Os Requested</th>
      <th>Disk Size</th>
      <th>Application SME</th>
      <th>Application Team Distro Group</th>
      <th>Line of Business</th>
      <th>Virtual Machine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
          <% if server.approved %>
            <% status = "Approved" %>
          <% else %>
            <% status = "Pending" %>
          <% end %>
          <% if current_user.admin || (current_user.id == server.user_id || server.approved) %>
          <td><%= server.user_id %></td>
          <td><%= status %></td>
          <td><%= server.asset %></td>
          <td><%= server.hostname %></td>
          <td><%= server.location %></td>
          <td><%= server.environment %></td>
          <td><%= server.os_requested %></td>
          <td><%= server.disk_size %></td>
          <td><%= server.application_sme_id %></td>
          <td><%= server.application_team_distro_group %></td>
          <td><%= server.line_of_business %></td>
          <td><%= server.virtual_machine %></td>
          <td><%= link_to 'Show', server, class: "btn btn-default" %></td>
          <% end %>
          <% if current_user.admin %>
            <td><%= link_to 'Edit', edit_server_path(server), class:"btn btn-default" %></td>
            <td><%= link_to 'Destroy', server, method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server', new_server_path, class: "btn btn-default" %>
