<p id="notice"><%= notice %></p>
<h1>Approved Servers</h1>
<%= form_tag(approved_path, id: "approved_form", class: 'searchbox', :method => 'get') do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter search params..."%>
  <%= submit_tag "Search" %>
<% end %>
<div id="results_approved">
  <%= render 'results_approved' %>
</div>