<p id="notice"><%= notice %></p>
<h1>Pending Servers</h1>
<%= form_tag pending_path, class: 'searchbox', :method => 'get' do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter search params..."%>
  <%= submit_tag "Search" %>
<% end %>
<div id=" pending results">
  <%= render 'results_pending' %>
</div>
