<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="well">
      <h2><strong>General</strong></h2>
        <p>
          <strong>User id:</strong>
          <%= @server.user_id %>
        </p>
           <p>
          <strong>Server id:</strong>
          <%= @server.id %>
        </p>

        <p>
          <strong>Approved:</strong>
          <%= @server.approved %>
        </p>

        <p>
          <strong>Asset:</strong>
          <%= @server.asset %>
        </p>
        <strong>Line of business:</strong>
          <%= @server.line_of_business %>
          </p>

          <p>
            <strong>Virtual machine:</strong>
            <%= @server.virtual_machine %>
            </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h2><strong>Server Info</strong></h2>
        <p>
          <strong>Hostname:</strong>
          <%= @server.hostname %>
        </p>

        <p>
          <strong>Location:</strong>
          <%= @server.location %>
        </p>
        
        <p>
          <strong>Environment:</strong>
          <%= @server.environment %>
        </p>
        
        <p>
          <strong>Os requested:</strong>
          <%= @server.os_requested %>
          </p>
        <p>
          <strong>Disk size:</strong>
          <%= @server.disk_size %>
        </p>
        </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <h2><strong>Engineering Team</strong></h2>
        <p>
          <strong>Eng team sme contact:</strong>
          <%= @server.eng_team_sme_contact_id %>
        </p>

        <p>
          <strong>Eng team manager contact:</strong>
          <%= @server.eng_team_manager_contact_id %>
        </p>
        <p>
          ---
        </p>
        <p>
          ---
        </p>
        <p>
          ---
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h2><strong>Application Info</strong></h2>
        <p>
          <strong>Application sme:</strong>
          <%= @server.application_sme_id %>
        </p>

        <p>
          <strong>Application team distro group:</strong>
          <%= @server.application_team_distro_group %>
        </p>

        <p>
          <strong>Application manager:</strong>
          <%= @server.application_manager_id %>
        </p>

        <p>
          <strong>Application director:</strong>
        <%= @server.application_director_id %>
        </p>
        
        <p>
          ---
        </p>
      </div>
    </div>
  </div>
</div>
<% unless @server.system.nil? %>
<div class="container-fluid">
  <div class="row" >
    <div class="col-md-8" style="border:2px solid #cecece; background-color: #f5f5f5;">
        <h3>Server's System</h3>
        <div class="col-md-4">
            <p>
            <strong>OS:</strong>
            <%= @system.os %>
            </p>
            
            <strong>Kernel:</strong>
              <%= @system.kernel %>
            </p>
            
            <p>
            <strong>Platform:</strong>
              <%= @system.platform %>
            </p>
            
            <p>
            <strong>Model:</strong>
              <%= @system.model %>
            </p>
            
            <p>
            <strong>IP:</strong>
              <%= @system.ip %>
            </p>
            
            <p>
              <strong>Boot Time:</strong>
              <%= @system.boot_time %>
            </p>
            
          </div>
          <div class="col-md-4">
            <p>
              <strong>Memory:</strong>
              <%= @system.memory %>
            </p>
            
             <p>
              <strong>Disk:</strong>
              <%= @system.disk %>
            </p>
            
             <p>
              <strong>Ncore:</strong>
              <%= @system.ncore %>
            </p>
            
            <p>
              <strong>CPU Model:</strong>
              <%= @system.cpu_model %>
            </p>
          
            <p>
              <strong>CPU Speed:</strong>
              <%= @system.cpu_speed %>
            </p>
            
             <p>
              <strong>Updated at:</strong>
              <%= @system.updated_at %>
            </p>
          
          </div>
  </div>
  </div>
</div>
<% end %>
<strong><%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %> </strong>
