<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <h2><strong>User Info</strong></h2>

      <p>
        <strong>ID:</strong>
        <%= @user.id %>
      </p>


      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>

      <p>
        <strong>Role:</strong>
      <% if @user.admin %>
        <%= "Administrator" %>
      <% else %>
        <%= "Employee" %>
      <% end %>
      </p>
      
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      </div>
    </div>
  </div>
  <strong><%= link_to 'Edit', edit_user_path(@user) %></strong>
<% if current_user.admin %>
  <%= link_to 'Back', users_path %></strong>
<% end %>

</div>
