<p id="notice"><%= notice %></p>

<% if @ticket.accepted %>
  <p>
    <strong>Admin:</strong>
    <%= @ticket.admin_id %>
  </p>
<% else %>
  <p>
    <strong>Employee:</strong>
    <%= @ticket.user_id %>
  </p>
<% end %>

<p>
  <strong>Server:</strong>
  <%= @ticket.server_id %>
</p>

<p>
  <strong>Ticket Type:</strong>
  <%= @ticket.ticket_type %>
</p>
<p>
  <strong>Comments:</strong>
  <%= @ticket.comments %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<% if !current_user.admin %>
  <%= link_to 'Back', dashboard_path %>
<% else %>
  <%= link_to 'Back', tickets_path %>
<% end %>
