<p id="notice"><%= notice %></p>

<p>
  <strong>Server:</strong>
  <%= @system.server_id %>
</p>

<p>
  <strong>System:</strong>
  <%= @system.system %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @system.machine %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @system.cpu %>
</p>

<p>
  <strong>Graphics:</strong>
  <%= @system.graphics %>
</p>

<p>
  <strong>Drives:</strong>
  <%= @system.drives %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @system.ip %>
</p>

<p>
  <strong>Boot time:</strong>
  <%= @system.boot_time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @system.date %>
</p>

<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
