<nav>
<% if logged_in? %> 
<ul class = "headerul">
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li class = "dropdown">
            <a href="#" class="dropdown-toggle" 
            data-toggle="dropdown"> 
            Servers <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Pending Servers', pending_path %></li>
              <li><%= link_to 'Approved Servers', approved_path %></li>
              <li class="divider"></li>
            </ul>
      </li>
      <% if current_user && current_user.admin != true %>
            <li class = "dropdown">
                  <a href="#" class="dropdown-toggle" 
                  data-toggle="dropdown"> 
                  Requests <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Create', create_path %></li>
                    <li><%= link_to 'Ticket', '/ticket' %></li>
                    <li class="divider"></li>
                  </ul>
            </li>
      <% end %>
      <% if current_user && current_user.admin %>
            <li><%= link_to 'Users', users_path %></li>
      <% end %>
      <li><%= link_to 'Logout', logout_path, method: :delete %> </li>
</ul>
</br>
</br>
<% end %>
</nav>


