<ul>
      <li><%= link_to "Home",                  employee_path %>                    </li>
      <li><%= link_to "Dashboard",             dashboard_path %>                   </li>
      <li><%= link_to 'Servers',            servers_path %>                     </li>
      <% if current_user && current_user.admin %>
            <li><%= link_to 'Employees',    users_path %>                       </li>
      <% end %>
      <li><%= link_to 'Logout',                logout_path, method: :delete %>     </li>
</ul>

