<!DOCTYPE html>
<html>
  <head>
    <title>Navigation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% unless current_page?(root_path) %>
    <%= render 'layouts/header' %>
  <% end %>
  <body>
      <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
      <footer>
       <p>&copy; Blue Devil Developers, 2018</p>
      </footer>
  </body>
</html>
